<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>My Works</title>
    <!--<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="css/stylesheet.css">
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.37/vue.global.min.js"></script>
    <script src="js/javascript.js"></script>
</head>

<body onload="vuestart();">
    <div class="navigation">
        <span>My Works (Sort by date(desc))</span>
    </div>
    <div class="container">
        <div id="files" class="flex">
            <div class="content" v-for="(item, index) in items">
                <div class="title">
                    <span v-if="item.artist">{{item.artist}} - </span>
                    <span>{{item.title}}</span>
                </div>
                <div class="file">
                    <audio :src="inl + item.filename + outl" @play="pauseOther(index)" controls preload="metadata">您的浏览器不支持 audio 标签。</audio>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>Copyright (R) 2020-2021 ZogeMung. All Rights Reserved. </span>
    </div>
</body>

</html>
